[Desktop Entry]
Type=Application
Name=OPL3 RetroWave MIDI Player
Comment=Play MIDI files on a RetroWave OPL3 board, PC speakers, or an external MIDI device
Exec=retro-midi-player-opl3-gm %F
Icon=${SNAP}/meta/gui/retro-midi-player-opl3-gm.png
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=MIDI;OPL3;FM;RetroWave;chiptune;synth;
